body {
    background: #ffffff url("../images/achtergrond-ion.jpg") no-repeat left top;
}

h1, h2, h3, h4, h5 {
    color: #8DC63F;
}

h1 {
    background: url("../images/leaf28.png") no-repeat left center;
    padding-left: 55px;
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

.wrapper_core h3 {

}

p, label {
    color: #7f3f98;
}

a, a:hover {
    color: #8DC63F;
}

a:hover {
}

h2 a {
    background: url("../images/leaf28.png") no-repeat left center;
    padding-left: 55px;
    color: #8DC63F;
}

h3 a {
    color: #8DC63F;
}

h2 a:hover, h3 a:hover {
    color: #8DC63F;
}

.container-content {
    padding: 20px 15px;
    background: #ffffff;
}

.slogan {
    padding: 10px 20px 0 0;
    text-align: right;
    color: #ffffff;
    font-size: 18px;
}

#header_top {
    height: 50px;
    background: #8DC63F;
}

#header_logo {
    padding: 20px 0 0 0;
    background: #F2EBF5;
    height: 300px;
}

#slider {
    padding: 20px 0 0 0;
}

#slider img {
    max-width: 100%;
    height: auto;
}

#logo {
    padding: 0 0 0 30px;
}

.container-fluid {
    background: #7f3f98;
}

.navbar-default .navbar-nav > li > a {
    color: #8DC63F;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}

#top_region h2 {
    font-size: 22px;
}

#content-right {
    padding-right: 20px;
}

#content-right img {
    display: block;
    max-width: 100%;
    /*height: auto!important;*/
    float: left;
    margin: 0 10px 10px 0;
}

#content-right .verdelen_extra_info img,
.node-down-sub .field-name-field-bijlage .field-item img {
    margin: 0 !important;
}

#content-right .verdelen_extra_info .field-item,
.node-down-sub .field-name-field-bijlage .field-item,wij-verdelen-right
.node-sub-activities .field-name-field-bijlage .field-label {
    padding-bottom: 10px;
    margin: 10px 0;
    /*font-weight: 500;
    font-size: 18px;*/
}

#block-views-onder-sub-block {
    margin-top: 25px;
}

#block-views-onder-sub-block .opsomming-downsub a {
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border: solid 1px #8DC63F;
}

.file-icon {
    padding-right: 10px;
}

#block-views-onder-sub-block .opsomming-downsub a:hover {
    border: solid 1px #7f3f98;
}

#block-views-onder-sub-block .opsomming-downsub {
    float: left;
    margin: 0 10px 25px 0;
}

#content-top-1, #content-top-2, #content-top-3, #content-bottom-1, #content-bottom-2, #content-bottom-3 {
    margin: 20px 0;
    min-height: 100px;
}

#content-bottom-wrap {
    margin: 20px 0;
}

footer {
}

.footer_content {
    padding: 10px;
    background: #7f3f98;
    color: #ffffff;
    margin: 10px 0;
    text-align: center;
}

/*
*breadcrumb
*/
.backto, .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0px;
}

.backto a, .breadcrumb a {
    color: #8DC63F;
}

.backto a:hover, .breadcrumb a:hover {
    text-decoration: none;
}

/*
*Opmaak core activiteiten
*/

.item-list ul.core-ul {
    list-style: none;
    font-size: 0px;
    margin-left: 2.5%;
}

.item-list ul.core-ul li {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
}

.item-list ul.core-ul li img {
    max-width: 100%;
    height: auto;
    margin: 0 20px 40px 0;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.item-list ul.core-ul li img:hover {
    -webkit-transform: scale(1.05); /* Safari and Chrome */
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
}

.item-list ul.core-ul li h3 {
    font-size: 18px;
}

.item-list ul.core-ul li h3 a {
    font-size: 15px;
    font-weight: bold;
}

.item-list ul.core-ul li h3 a:hover {
    text-decoration: none;
}

.wrapper_core .title_activities {
    height: 50px;
}

/*
*sub activities
*/

.bijlage {
    margin: 0 0 10px 0;
}

/*
*opmaak producten
*/

.view-producten table, th, td {
    border-collapse: collapse;
    padding: 5px 10px;
    border: 1px solid black;
}

#block-views-producten-block .item-list {
    padding: 20px 0 0 0;
}

/* class for 2 columns */
.item-list ul.core-ul.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50%*/
}

/* class for 3 columns */
.view-coreactivities .item-list ul.core-ul.columns-3 li,
.view-subactiviteit .item-list ul.core-ul.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}

/*#block-views-coreactivities-block-1 .item-list ul.core-ul.columns-3 li {
    width: 100%;
}*/

#block-views-coreactivities-block-1 .views-field-title {
    padding: 10px 0;
}

/* class for 4 columns */
.item-list ul.core-ul.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}

/*
* Wij verdelen
*/

.wij-verdelen-left, .product_img img,
.wij-verdelen-right .product_img img {
    padding-bottom: 15px !important;
}

.wij-verdelen-right {
    padding-left: 15px;
}

.wij-verdelen-video {
    clear: both;
}

.verdelen_extra_info h4 {
    color: #000000;
}

.view-id-wijverdelen .field-content {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0 15px 10px 0;
}

#views_slideshow_cycle_main_wijverdelen-block .views-slideshow-cycle-main-frame-row {
    height: 750px !important;
}

/*
*Locatie contactformulier
*/

.content-form label {
    font-weight: normal;
    display: block;
}

input, textarea {
    padding: 5px;
    border: solid 1px #7f3f98;
}

input[type="checkbox"], input[type="radio"] {
    -moz-appearance: none;
    border: 1px solid #7f3f98;
    height: 20px;
    margin: -2px 10px 0 0;
    width: 20px;
}

.form-item {
    margin-bottom: 20px;
}

.field-name-field-adres-1 {
}

#edit-submitted-wie-contacteren {
    width: 100%;
    margin-bottom: 25px;
}

#edit-submitted-wie-contacteren .form-radio {
    width: 5%;
    float: left;
}

.form-radio label.option {
    padding: 1px 0 20px 0;
    display: inline-block;
}

#webform-component-firma-naam {
    clear: both;
}

#webform-component-aanspreking .form-checkboxes .form-item,
.form-radios .form-item {
    width: 10%;
    float: left;
}

#edit-submitted-ik-vraag-een-demo-aan-1 {
    float: left;
    margin-right: 10px;
}

#webform-component-voornaam {
    clear: both;
}

.content-form .field-name-field-openingsuren {
    display: none;
}

#node-18 .postcode {
    float: left;
    margin-right: 10px;
}

#node-18 .plaats {
    overflow: hidden;
}

#node-18 #postcode_plaats {
    clear: both;
}

#node-18 #bedrijf {
    padding: 0 0 10px 0;
}

#node-18 .description {
    color: #7f3f98;
}

/*offerte formulier*/

.vloer_keuze {
    padding-bottom: 25px;
}

.vloer_keuze .form-type-checkbox {
    width: 160px;
    float: left;
}

#webform-component-persoonlijke-gegevens label {
    width: 100px;
}

/*
*search button
*/

#header_top #search-block-form .form-item, .form-actions {
    color: #000000;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: #8DC63F;
    background-color: #7f3f98;
    border: none;
    font-size: 12px;
    padding: 9px 20px 5px 20px;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #ffffff;
}

.search-form input {
    padding: 4px 5px 4px;
    border: none;
}

.search-form #edit-basic {
    background-color: #8DC63F;
    padding: 10px;
}

.search-form #edit-basic input[type="submit"] {
    padding: 6px 20px 4px 20px;
}

/* opmaak nice menu*/

#block-nice-menus-1 ul.nice-menu a {
    padding: 0.3em 5px;
}

#block-nice-menus-1 ul.nice-menu a {
    color: #8DC63F;
    display: block;
    background: transparent;
    padding: 10px 10px;
}

#block-nice-menus-1 ul.nice-menu li a:hover {
    color: #7f3f98;
    background: #f5f5f5;
    text-decoration: none;
}


#block-nice-menus-1  ul.nice-menu,
#block-nice-menus-1 ul.nice-menu ul,
#block-nice-menus-1 ul.nice-menu li {
    border: 0;
    background: none;
   
}


#block-nice-menus-1  ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
    background: url('arrow-right.png') right center no-repeat;
}

#block-nice-menus-1 li.menuparent li, li.menuparent ul {
    background: #f5f5f5;
}

/*
*media query's
*/

@media only screen and (max-width: 1024px) {
    /* css code voor tablets in landscape mode */
    #header_logo #slider img {
        width: 98%;
    }

    .vloer_keuze .form-type-checkbox,
    .reiniging-renovatie .form-type-checkbox {
        float: none;
        width: 25%;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 960px) {
    /* css code voor tablets in portrait mode */
    #header_logo #slider {
        display: none;
    }

    #sidebar-first {
        display: none;
    }

    @media only screen and (max-width: 767px) {
        /* css code voor smartphones in landscape mode */
        #header_logo {
            height: 230px;
        }

        #header_logo #logo img {
            width: 220px;
        }

        h1 {
            font-size: 20px;
            background-image: none;
            padding-left: 0;
        }

    }

    @media (max-width: 480px) {
        .item-list ul.core-ul li h3 a {
            font-size: 12px;
        }

        .item-list ul.grid-nav li {
            display: block;
            margin: 0 0 5px;
        }

        .item-list ul.grid-nav li a {
            display: block;
        }

        .item-list ul.core-ul {
            margin-left: 0;
        }

        .item-list ul.core-ul li {
            width: 100% !important; /* over-ride all li styles */
            margin: 0 0 20px;
        }

        .vloer_keuze .form-type-checkbox,
        .reiniging-renovatie .form-type-checkbox {
            width: 70%;
        }

        .straat, .plaats, .email {
            width: 100%;
        }
    }

}

@media only screen and (max-width: 479px) {
    /* css code voor smartphones in portrait mode */
    #header_logo #logo {
        padding: 0 0 0 15px;
    }
}